In [1]:
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Installing build dependencies ... one
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: wget
  Building wheel for wget (pyproject.toml) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9685 sha256=9578cf7ea28ff73874604b5497515b577acfa5259d7a08e121929c1735413106
  Stored in directory: /Users/micah/Library/Caches/pip/wheels/8a/b8/04/0c88fb22489b0c049bee4e977c5689c7fe597d6c4b0e7d0b6a
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2
Note: you may need to restart the kernel to use updated packages.

In [9]:
import wget

In [15]:
wget.download('https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv')

100% [..............................................................................] 12331 / 12331

'taxi_zone_lookup.csv'

In [17]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [18]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265